:root {
  --brand-color: #2196f3;
  --accent-color: black;
  --text-color: #757575;
  --letter-color: #ffffff;
  --background-color: #f5f4fa;
  --footer-color: #2f303a;
  --icon-color: #afb1b8;
  --animation-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.ghost {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.media-list {
  display: flex;
  justify-content: center;
}

.media-item + .media-item {
  margin-left: 10px;
}

.media-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-icon {
  fill: currentColor;
}

/*-------------------HEADER-------------------*/
.header {
  border-bottom: 1px solid #ececec;
}

.logo { 
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.logo-dark {
  color: var(--accent-color);
}
.logo-light {
  color: var(--letter-color);
}
.nav {
  display: flex;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color var(--animation-function);

}
.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}

.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
  
}

.nav-link.link.current {
  color: var(--brand-color);
}
.nav-item {
  margin-right: 50px;
}

.current {
  position: relative;
}

.current::after {
  content:" ";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--brand-color);
  left: 0;
  bottom:-33px;

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}
/*-----------CONTACTS-----------*/
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition: color var(--animation-function);
}
.contacts-item:not(:last-of-type) {
  margin-right: 50px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--brand-color);
}

/*----------HERO------------*/

.hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--letter-color);
  text-align: center;
}
.hero-button {
  background-color: var(--brand-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--letter-color);
  margin-top: 30px;
  border-radius: 4px;
  transition: background-color, box-shadow, var(--animation-function);
  border-color: transparent;
  width: 200px;
  height: 50px;
}

.hero-button:hover,
.hero-button:active {
  background-color: #55a7eb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*--------------FEATURES---------------*/

.features {
  display: flex;
}
.features-link {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.features-item:nth-child(4n) {
  margin-right: 0;
}
.features-item:nth-last-child(- n + 4) {
  margin-bottom: 0;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--text-color);
}

/*---------WORKS------------*/

.works-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.works-item {
  flex-basis:calc((100% - 90px)/ 3);
  margin: 15px;
  position: relative;

}
.works-content {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--letter-color); 
  display: flex;
  align-items: center;
  justify-content: center;
}


/*---------TEAM------------*/
.team-section {
  background-color: var(--background-color);
}
.main-title-section {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.team {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: 270px;
  height: 428px;
  margin-right: 30px;
  background-color: var(--letter-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.team-item:nth-child(4n) {
  margin-right: 0;
}
.team-item:nth-last-child(- n + 4) {
  margin-bottom: 0;
}
.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}
.content {
  text-align: center;
  padding: 30px 0;
}

.card-link {
  background-color: #ffffff;
  color: var(--icon-color);
  /* transition: background-color, color, var(--animation-function); */
  transition: background-color var(--animation-function), color, var(--animation-function);

}
.card-link:hover,
.card-link:focus {
  background-color: var(--brand-color);
  color: var(--letter-color);
}
/*-----------CLIENTS-----------*/
.clients-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-item:nth-child(6n) {
  margin-right: 0;
}

.clients-link {
  outline: 0;
  width: 170px;
  height: 92px;
  background-color: #ffffff;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color var(--animation-function);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--brand-color);
}

/*----------ADDRESS-----------*/

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-item:not(:last-of-type) {
  margin-bottom: 9px;
}
.address-map {
  color: var(--letter-color);
  transition: color var(--animation-function);
}
.address-map:hover,
.address-map:focus {
  color: var(--brand-color);
}
.address-mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation-function);
}
.address-mail:hover,
.address-mail:focus {
  color: var(--brand-color);
}
.address-tel {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation-function);
}
.address-tel:hover,
.address-tel:focus {
  color: var(--brand-color);
}
.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--letter-color);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-left {
  margin-right: 70px;
  flex-grow: 1;
}
.footer-right {
  margin-right: 93px;
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--letter-color);
  transition: background-color, color, var(--animation-function);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--brand-color);
  color: var(--letter-color);
}
.subscribe {
  display: flex;

}

.input-wrapper {
  display: flex;
  align-items: center;
 
}

.input-wrapper .hero-button {
  margin-top: 0;
  /* position: relative; */
  margin-left: 12px;
}
.input-wrapper .form-input {
  width: 350px;
  height: 50px;
}
.button-icon {
  transition: fill var(--animation-function);
  fill: var(--letter-color); 
  margin-left: 10px;  
}

.footer-button {
  display:flex; 
  align-items: center;
  justify-content: center;


}

.footer-middle {
  display: flex;
  flex-direction: column;
  
}
.footer-input {
  outline: 0;
  background-color: var(--footer-color);
  color: var(--letter-color);
}

/*------------FILTERS--------------*/

.btn.list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-item {
  margin-right: 8px;
}
.btn-item {
  border: transparent;
  padding: 8px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  background: #f5f4fa;
  color: var(--accent-color);
  border-radius: 4px;
  transition: color, box-shadow, background-color, var(--animation-function);
  

  /*
    test
  */
  /* transition: 0.3s; */
}
.btn-item:hover,
.btn-item:focus,
.btn-item:active {
  color: var(--letter-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*--------------GALLERY-------------*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.gallery-item {
  flex-basis:calc((100% - 90px)/ 3);
  margin: 15px;
  transition: transform var(--animation-function);
}
.gallery-link:hover .gallery-content,
.gallery-link:focus .gallery-content{
  transform: translateY(0);
}
.gallery-wrapper {
  position: relative;
  overflow: hidden;
}
.gallery-content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 3%;
  color:var(--letter-color);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: color, transform, var(--animation-function);
  overflow: auto;

}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}
.gallery-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.gallery-border {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}
.gallery-link {
  display: block;
  transition: box-shadow var(--animation-function);
}
.gallery-link:focus,
.gallery-link:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
              0px 4px 4px 0px rgba(0, 0, 0, 0.06),
              0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
/*--------------MODAL-------------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.14);
  transition: opacity 500ms, visibility 500ms;
  transform: scale(1);
}

.modal {
  width: 528px;
  min-height: 500px;
  background-color: var(--letter-color);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
              0px 1px 1px 0px rgba(0, 0, 0, 0.14),
              0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 40px;
}
.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill var(--animation-function);
}
.modal-close:hover {
  fill: var(--brand-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-title{
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-button {
  
}


.form-field{
  position: relative;
}

.form-field:not(:nth-last-of-type(2), :last-of-type) {
  margin-bottom: 10px;
}
.form-policy {
display:flex;
justify-content: center;
margin-top: 20px;
}

.form-label {
  
  font-size: 12px;
  line-height: 1.16;
  color: var(--text-color);
  transition: 250ms linear; 
  position:relative;
}

.form-input{
  outline: 0;
  width: 100%;
  margin: 0;
  padding: 10px 40px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid var(--icon-color);
  transition: fill, border-color var(--animation-function);
}


.form-input:hover,
.form-input:focus {
  border-color: var(--brand-color);
}

.form-input:focus ~ .input-icon,
.form-input:hover ~ .input-icon {
  fill: var(--brand-color);
} 

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: fill var(--animation-function);   
}

/*-----------*/

.check-text {
  font-size: 14px;
  line-height: 1.2;
  color: #999999;
  display: flex;
  /* align-items: center; */
  position: relative;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  
}
.policy-icon {
  fill: transparent;
 

}
.policy-check:checked + .check-text span {
  border: none;
  background-color: var(--brand-color);
}
.policy-check:checked + .check-text .policy-icon {
  fill: #ffffff;
}
/*---------*/
.policy-check:checked + .check-text::before {
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

 .check-hidden{
    position: absolute;
    visibility: hidden;
    opacity:0;

  } 
  /* .check-hidden {
    opacity: 0.5;
    pointer-events: none;
    visibility: hidden;
  } */
  

.modal-link{
  color: var(--brand-color);
  text-decoration: underline;
 
}
.form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid;
  border-radius: 5px;
  padding: 12px 16px;
  resize: none;
  border-color: var(--icon-color);
  outline: 0;
  transition: border-color var(--animation-function);
  
}

.form-textarea::placeholder {
  color: var(--icon-color);
  transition: color var(--animation-function);
}

.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--brand-color);
}

.form-textarea:hover::placeholder {
  color:var(--brand-color);
}